body {
    width: fit-content
}

#squaresContainer {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}

#gridSizeLabel {
    font-size: 25px;
}

.rowDivContainer {
    display: flex;
    flex-direction: row;

}

.interactiveDiv {
    border-style: solid;
    padding: 20px;
}

#gridSizeLabel {
    text-align: center;
}

#btnContainer {
    display: flex;
    justify-content: center;
    border-style: solid;
    gap: 5px;
}

#btnSizeLabel {
    font-size: 25px;
}

.sizeBtn {
    font-size: 25px;
    padding: 5px 25px;
    margin: 5px;
}